doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Navigation mobile Top

    link(rel="stylesheet", href="index.css")
  body

    nav
      ul.navigation-mobile
        li.bloc-icon
          ion-icon(name="home-outline")
        li.bloc-icon
          ion-icon(name="search-outline")
        li.bloc-icon
          ion-icon(name="add-outline")
        li.bloc-icon
          ion-icon(name="heart-outline")
        li.bloc-icon
          ion-icon(name="person-outline")
    
    script(src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js") 